VITE_ROOT_URL=http://localhost:4000
VITE_PAYMENTS_URL=<this is not currently used>
VITE_OS_KEY=<get this from the Ordnance Survey dashboard>
VITE_OS_PLACES_KEY=<get this from the Ordnance Survey dashboard>
VITE_GEOCODER_TOKEN=<get this from the Mapbox dashboard>
VITE_MAPBOX_TOKEN=<get this from the Mapbox dashboard>
VITE_MIXPANEL_TOKEN=<get this from the Mixpanel dashboard>
VITE_MIXPANEL_PEPPER=<random string - match this to the backend value>
VITE_USER_GUIDE_URL=https://digital-commons.gitbook.io/landexplorer-user-guide/functionality/quick-start-guide
