body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sr-only {
  display: none;
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.leaflet-popup-content-wrapper {
  color: white;
  background: #111;
  border-radius: 0;
  padding: 12px;
  font-family: Monaco;
}

.leaflet-popup-tip {
  background: #111;
}

.leaflet-popup-close-button {
  color: white;
  font-family: Monaco;
}

/*.leaflet-control-layers-toggle {*/
/*background: blue;*/
/*color: white;*/
/*}*/

.leaflet-control-layers {
  border: 0 !important;
}

.leaflet-bar {
  border: 0;
  border-radius: 0;
}

/*.leaflet-touch .leaflet-bar a {*/
/*width: 60px !important;*/
/*height: 60px !important;*/
/*line-height: 60px;*/
/*}*/

/*.leaflet-draw-toolbar a {*/
/*background: none;*/
/*}*/

/*.leaflet-draw-draw-polyline {*/
/*background-image: url('http://docs.mcneel.com/rhino/5/help/en-us/image/topic_illustrations/polyline-001.png') !important;*/
/*background-size: contain !important;*/
/*background-position: center !important;*/
/*background-repeat: no-repeat !important;*/
/*}*/

#new-zoom {
  border: 12px solid red;
}

.link-underline {
  text-decoration: none;
  color: #78838f;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #cccccc;
}
