
.admin-boundary-content {
    font-family: Lato;
    font-weight: 400;
}


.admin-boundary-header {
  color: $midNeutral2;
  font-size: 16px;
  border-bottom: 1px white;
}

.admin-boundary-divider {
  border-bottom: 1px;
  color: $midNeutral2;
}

.admin-boundary-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}

.admin-boundary-item-header {
  font-size: 13px;
  color: $midNeutral2;
  border-color: antiquewhite;  
}

.admin-boundary-item-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 15px;
  color: $lightNeutral;
  justify-content: space-between;
}

.admin-boundary-item-colour {  
  height: 16px;
  width: 50px;
  margin-right: 6px;
  flex-shrink: 0;
}
