.data-section-title {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 25px;
}

/* Tooltips for data group markers  */

[data-tooltip]:before {
  position: absolute;
  content: attr(data-tooltip);
  display: none;
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 4px;
  z-index: 4;
  width: max-content;
  top: 30px;
  left: 10px;
}

[data-tooltip]:hover:before {
  display: block;
  opacity: 1;
}

.cluster-container {
  z-index: 2;
  background-color: #27ae5f80;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cluster-background {
  background-color: #27ae60;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.cluster-grey {
  background-color: #78838f;
}

.cluster-grey-transparent {
  background-color: #78838f80;
}

.cluster-text {
  color: white;
  border-radius: 50%;
  margin: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
}

.cluster-text-active {
  color: #2ecc71;
}

.popup-content,
.popup-content-saving {
  width: 200px;
  // height: 100px;
  height: max-content;
  z-index: 4;
  position: absolute;
  bottom: 12px;
  left: -110px;
  // background-color: white;
  background-color: $lighNeutral;
  // padding: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  // display: flex;
  // justify-content: space-between;
}

.popup-content-saving {
  width: 170px;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
}

.popup-content::after,
.popup-content-saving::after {
  content: " ";
  position: absolute;
  top: auto;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent $primaryColor transparent;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup-content-saving::after {
  top: -12px;
  bottom: auto;
  transform: translateX(-250%);
  border-width: 0 10px 12px 10px;
}

.popup-with-marker {
  position: absolute;
  bottom: 45px;
}

.popup-title {
  margin: 0px;
  width: 100%;
  background-color: #fff;
  padding: 25px 20px;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
  font-size: 18px;
  font-weight: regular;
  color: $primaryColor;
}

.popup-saving-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

.popup-saving-icon-container {
  display: flex;
  align-items: center;
  margin: 7px;
}

.popup-saving-text-container {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.description-text {
  &:first-child {
    margin-top: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
  /* height: 50px;
  overflow-y: auto;*/
}

.editable {
  background-color: #f3f3f3;
  border-radius: 10px;
}

// Don't show line breaks in title/description since these are not saved
.editable * {
  display: inline;
}

.editable br {
  display: none;
}

.no-popup-title {
  margin-top: 20px;
}

.popup-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.popup-body-main {
  height: 80px;
  padding: 25px;
  // width: 170px;
  overflow-y: auto;
}

.popup-sidebar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
  background-color: $primaryColor;
  border-radius: 0px 0px 16px 16px;
  color: #fff;
}

.popup-footer-button {
  padding: 0px;
  margin: 0px 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  &:first-child {
    margin-left: 0px;
  }
  &:not(:first-child):before {
    content: "";
    width: 1px;
    height: 20px;
    display: block;
    position: relative;
    right: 18px;
    cursor: none;
    pointer-events: none;
    background-color: #fff;
    font-size: 20px;
  }
}

.popup-copy-to-tabs-container {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-spacing: 0px;
}

.popup-copy-to-tab {
  cursor: pointer;
  width: 50%;
  padding: 0px;
  font-weight: bold;
  text-align: center;

  &:hover {
    background: #f4f5f7;
  }
}

.tab-active {
  background: #73d19b;
  color: #4a4a4a;

  &:hover {
    background: #73d19b;
  }
}

.popup-copy-to-option {
  margin: 0px;
  padding-left: 5px;
  cursor: pointer;

  &:hover {
    background: #f4f5f7;
  }
}

.copy-to-option-highlighted {
  background-color: #27ae60;
  color: white;

  &:hover {
    background: #27ae60;
  }
}

.popup-sidebar-button {
  // Temporary dimensions
  height: 12px;
  // display: none;
  // padding-top: 10px;
  padding-right: 7px;
  cursor: pointer;
}

.popup-sidebar-button-inactive {
  cursor: auto;
}

.popup-copy-status-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-copy-status-text {
  text-align: center;
}

.popup-status-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

@media screen and (min-width: $large) {
  .popup-content,
  .popup-content-saving {
    left: -300px;
    width: 600px;
    height: 360px;
  }

  .marker-active,
  .marker-inactive {
    transition: ease-out 0.5s;
  }

  .marker-active {
    margin-top: 5vh;
  }
}
