.data-section-title {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 25px;
}

/* Tooltips for data group markers  */

[data-tooltip]:before {
  position: absolute;
  content: attr(data-tooltip);
  display: none;
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 4px;
  z-index: 4;
  width: max-content;
  top: 30px;
  left: 10px;
}

[data-tooltip]:hover:before {
  display: block;
  opacity: 1;
}

.cluster-container {
  z-index: 2;
  background-color: #27ae5f80;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.cluster-background {
  background-color: #27ae60;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.cluster-grey {
  background-color: #78838f;
}

.cluster-grey-transparent {
  background-color: #78838f80;
}

.cluster-text {
  color: white;
  border-radius: 50%;
  margin: 0px;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  padding-top: 5px;
}

.cluster-text-active {
  color: #2ecc71;
}

/** Pop-up dialogue **/

// Outer container
.popup-content,
.popup-content-saving {
  width: 200px;
  height: max-content;
  z-index: 4;
  position: absolute;
  bottom: 12px;
  left: -110px;
  background-color: $lightNeutral;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.popup-content-saving {
  width: 170px;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
}

.popup-content::after,
.popup-content-saving::after {
  content: " ";
  position: absolute;
  top: auto;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent $primaryColor transparent;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup-content-saving::after {
  top: -12px;
  bottom: auto;
  transform: translateX(-250%);
  border-width: 0 10px 12px 10px;
}

.popup-with-marker {
  position: absolute;
  bottom: 45px;
}

// Description and Title wrapper - is this necessary as the sidebar is now a footer?
.popup-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

// Title
.popup-title {
  margin: 0px;
  width: 100%;
  background-color: #fff;
  padding: 25px 20px;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
  font-size: 18px;
  font-weight: normal;
  color: $primaryColor;
  line-height: 1.35em;
  &:focus-visible {
    outline: 2px solid #dd7b3c80;
    color: #707770;
  }
}

.copy-to-title {
  text-align: center;
}

// Description wrapper
.popup-body-main {
  height: 210px;
  width: 100%;
  padding: 10px 25px 0;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow-y: auto;
}

// Description wrapper scrollbar
.popup-body-main::-webkit-scrollbar {
  width: 5px;
  margin-right: 5px;
}

// Desctiption wrapper scrollbar Handle
.popup-body-main::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 10px;
}

// Description wrapper scrollbar Track
.popup-body-main::-webkit-scrollbar-track {
  background: #d8d8d8;
  border-radius: 10px;
}

// Description inner wrapper
.description-text {
  height: fit-content;
  color: #707070;
  &:first-child {
    margin-top: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }

  &.editable {
    background-color: #fff;
    padding: 10px;
    margin: -10px;
    &:focus-visible {
      padding: 8px;
      outline: none;
      border: 2px solid #dd7b3c80;
    }
  }
}

// Don't show line breaks in title/description since these are not saved
.editable * {
  display: inline;
}

.editable br {
  display: none;
}

.no-popup-title {
  margin-top: 20px;
}

/** Copy to screen **/

// Tabs
.popup-copy-to-tabs-container {
  width: 100%;
  display: flex;
  border-spacing: 0px;
  padding-bottom: 18px;
  background-color: #fff;
  align-items: center;
}

.popup-copy-to-tab {
  @include button-scaffold();
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  width: 50%;
  font-weight: bold;
  align-items: center;
  position: relative;
  color: $midNeutral;

  & img {
    margin-right: 10px;
  }
  &:hover {
    text-decoration: underline;
  }
  &:not(:first-child):before {
    content: "";
    width: 1px;
    height: 20px;
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    cursor: none;
    pointer-events: none;
    background-color: $neutral;
    font-size: 20px;
  }
}

.tab-active {
  color: $primaryColor;

  &:hover {
    text-decoration: none;
  }
}

// Copy to options
.popup-copy-to-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-bottom: 12px;
  padding: 16px 20px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fff;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $primaryColor;
  }
}

.copy-to-option-highlighted {
  background-color: #27ae60;
  color: white;
  cursor: auto;
}

.popup-copy-to-name {
  display: block;
  width: calc(100% - 20px);
}

.popup-copy-status-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-copy-status-text {
  text-align: center;
}

.popup-copy-to-button {
  height: 17px;
  width: 17px;
  @include button-scaffold();
  background-image: url("../img/icon-add--white.svg");
}

.popup-status-icon {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
}

/** Footer **/
.popup-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px;
  position: absolute;
  bottom: 0px;
  background-color: $primaryColor;
  border-radius: 0px 0px 16px 16px;
  color: #fff;
}

.popup-footer-button {
  @include button-scaffold($margin: 0px 18px);
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  &:first-child {
    margin-left: 0px;
  }
  &:not(:first-child):before {
    content: "";
    width: 1px;
    height: 20px;
    display: block;
    position: relative;
    right: 18px;
    cursor: none;
    pointer-events: none;
    background-color: #ffffff66;
    font-size: 20px;
  }
}

.is-offline {
  color: #ffffff66;
  cursor: auto;
  &:hover {
    text-decoration: none;
  }
}

.popup-footer-icon {
  height: 12px;
  padding-right: 7px;
  cursor: pointer;
}

.popup-sidebar-button-inactive {
  cursor: auto;
}

/** Popup saving **/
.popup-saving-text {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 14px;
}

.popup-saving-icon-container {
  display: flex;
  align-items: center;
  margin: 7px;
}

.popup-saving-text-container {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

/** Media queries **/
@media screen and (min-width: $medium) {
  .popup-content,
  .popup-content-saving {
    left: -300px;
    width: 600px;
    height: 360px;
  }

  // .marker-active,
  // .marker-inactive {
  //   transition: ease-out 0.5s;
  // }

  // .marker-active {
  //   margin-top: 5vh;
  // }
}

@media screen and (max-width: $medium) {
  .popup-content,
  .popup-content-saving {
    left: -175px;
    width: 350px;
    height: 500px;
  }
  .popup-body-main {
    height: 350px;
  }
}

@media screen and (max-width: $small) {
  .popup-content,
  .popup-content-saving {
    left: -130px;
    width: 260px;
    height: 405px;
  }
  .popup-title {
    font-size: 16px;
    padding: 20px;
  }
  .popup-body-main {
    height: 235px;
  }
  .popup-footer {
    justify-content: center;
  }
  .popup-footer-button {
    &:last-child {
      margin-right: 0;
    }
  }
}
