.datagroup-style-wrapper {
  // Pop up
  & .popup-title,
  & .tab-active {
    color: var(--data-group-colour);
  }

  & .marker-icon > svg {
    color: var(--data-group-colour);
  }

  & .popup-footer {
    background-color: var(--data-group-colour);
  }
  & .popup-content::after {
    border-color: transparent transparent var(--data-group-colour) transparent;
  }
  // Pop up - copy to
  & .popup-copy-to-option {
    &:hover {
      border-color: var(--data-group-colour);
    }
  }
  & .copy-to-option-highlighted {
    background-color: var(--data-group-colour);
  }
  // Toggle switch
  .toggle-switch {
    input:checked + .slider:before {
      background-color: var(--data-group-colour);
    }
  }
}

.allotments {
  // Pop up
  // & .popup-title,
  // & .tab-active,
  // & .marker-icon > svg {
  //   color: $allotments;
  // }
  // & .popup-title,
  // & .tab-active {
  //   color: $allotments;
  // }
  // & .popup-footer {
  //   background-color: $allotments;
  // }
  // & .popup-content::after {
  //   border-color: transparent transparent $allotments transparent;
  // }
  // Pop up - copy to
  // & .popup-copy-to-option {
  //   &:hover {
  //     border-color: $allotments;
  //   }
  // }
  // & .copy-to-option-highlighted {
  //   background-color: $allotments;
  // }
  // Toggle switch
  // .toggle-switch {
  //   input:checked + .slider:before {
  //     background-color: $allotments;
  //   }
  // }
}

.community-gardens {
  // Pop up
  // & .popup-title,
  // & .tab-active,
  // & .marker-icon > svg {
  //   color: $communityGardens;
  // }
  // & .popup-title,
  // & .tab-active {
  //   color: $communityGardens;
  // }
  // & .popup-footer {
  //   background-color: $communityGardens;
  // }
  // & .popup-content::after {
  //   border-color: transparent transparent $communityGardens transparent;
  // }
  // Pop up - copy to
  // & .popup-copy-to-option {
  //   &:hover {
  //     border-color: $communityGardens;
  //   }
  // }
  // & .copy-to-option-highlighted {
  //   background-color: $communityGardens;
  // }
  // Toggle switch
  // .toggle-switch {
  //   input:checked + .slider:before {
  //     background-color: $communityGardens;
  //   }
  // }
}

.csa-community-farms {
  // Pop up
  // & .popup-title,
  // & .tab-active,
  // & .marker-icon > svg {
  //   color: $communityFarms;
  // }
  // & .popup-title,
  // & .tab-active {
  //   color: $communityFarms;
  // }
  // & .popup-footer {
  //   background-color: $communityFarms;
  // }
  // & .popup-content::after {
  //   border-color: transparent transparent $communityFarms transparent;
  // }
  // Pop up - copy to
  // & .popup-copy-to-option {
  //   &:hover {
  //     border-color: $communityFarms;
  //   }
  // }
  // & .copy-to-option-highlighted {
  //   background-color: $communityFarms;
  // }
  // Toggle switch
  // .toggle-switch {
  //   input:checked + .slider:before {
  //     background-color: $communityFarms;
  //   }
  // }
}

.incredible-edible {
  // Pop up
  // & .popup-title,
  // & .tab-active,
  // & .marker-icon > svg {
  //   color: $incredibleEdible;
  // }
  // & .popup-title,
  // & .tab-active {
  //   color: $communityFarms;
  // }
  // & .popup-footer {
  //   background-color: $incredibleEdible;
  // }
  // & .popup-content::after {
  //   border-color: transparent transparent $incredibleEdible transparent;
  // }
  // Pop up - copy to
  // & .popup-copy-to-option {
  //   &:hover {
  //     border-color: $incredibleEdible;
  //   }
  // }
  // & .copy-to-option-highlighted {
  //   background-color: $incredibleEdible;
  // }
  // Toggle switch
  // .toggle-switch {
  //   input:checked + .slider:before {
  //     background-color: $incredibleEdible;
  //   }
  // }
}

.orchards {
  // Pop up
  // & .popup-title,
  // & .tab-active,
  // & .marker-icon > svg {
  //   color: $orchards;
  // }

  // & .popup-title,
  // & .tab-active {
  //   color: $orchards;
  // }

  // & .popup-footer {
  //   background-color: $orchards;
  // }
  // & .popup-content::after {
  //   border-color: transparent transparent $orchards transparent;
  // }
  // Pop up - copy to
  // & .popup-copy-to-option {
  //   &:hover {
  //     border-color: $orchards;
  //   }
  // }
  // & .copy-to-option-highlighted {
  //   background-color: $orchards;
  // }
  // Toggle switch
  // .toggle-switch {
  //   input:checked + .slider:before {
  //     background-color: $orchards;
  //   }
  // }
}
