.Filters
{
    border: black 1px solid;
    border-radius: 16px;
    background: white;
    padding: 6px 17px; 
    margin: 9px 9px;
}


.closeListing 
{
    background : $primaryColor;
    position : absolute;
    font-size : 12px;
    border: none;
    border-radius : 50%;
    color:white;
}


