.Filters
{
    border: black 1px solid;
    border-radius: 16px;
    background: white;
    padding: 6px 17px; 
    margin: 9px 9px;
}

// .listing-image
// {
// // max-width : 100%;
// max-height : 100%;
// }

.closeListing 
{
    background : $primaryColor;
    position : absolute;
    font-size : 10px;
    border: none;
    border-radius : 50%;
    color:white;
}


