.modal {
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
  background-color: #ffffff;
  border: solid 1px #d1d1d1;
  padding: 24px;
}

.modal-close {
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3E%3Cpath d='M-5627.5-2700a12.417,12.417,0,0,1-8.838-3.661A12.417,12.417,0,0,1-5640-2712.5a12.417,12.417,0,0,1,3.662-8.839A12.417,12.417,0,0,1-5627.5-2725a12.416,12.416,0,0,1,8.839,3.661A12.417,12.417,0,0,1-5615-2712.5a12.417,12.417,0,0,1-3.661,8.839A12.417,12.417,0,0,1-5627.5-2700Zm-3.546-16.889a.836.836,0,0,0-.6.247.839.839,0,0,0-.249.6.843.843,0,0,0,.249.6l2.781,2.779-2.78,2.781a.841.841,0,0,0-.247.6.841.841,0,0,0,.247.6.84.84,0,0,0,.6.248.833.833,0,0,0,.6-.248l2.78-2.781,2.781,2.779a.839.839,0,0,0,.6.247.841.841,0,0,0,.6-.247.848.848,0,0,0,0-1.2l-2.783-2.779,2.78-2.781a.848.848,0,0,0,0-1.2.841.841,0,0,0-.6-.247.841.841,0,0,0-.6.247l-2.778,2.781-2.783-2.779A.841.841,0,0,0-5631.047-2716.889Z' transform='translate(5640 2725)' fill='%23d8d8d8'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-title {
  margin-left: 0px;
  font-weight: bold;
  font-size: 16px;
}

.modal-content {
  margin-top: 24px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100006;
  transition: opacity 0.4s;
}

.ModalBackground {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ModalContent {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 400ms;
  width: 360px;
  max-width: 75vw;
  box-sizing: border-box;
}

.modal-padding {
  padding-bottom: 56px;
}

#myMaps {
  .modal-title {
    margin-left: 0;
  }

  .ModalContent {
    width: 511px;
    height: 320px;
    min-width: 511px !important;

    @media (max-width: 480px) {
      min-width: 100vw !important;
    }

    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      user-select: none;

      th {
        font-size: 14px;
        height: 32px;
        position: sticky;
        top: 0;
        background: white;

        @media (max-width: 480px) {
          font-size: 12px !important;
        }
      }

      tr {
        @media (max-width: 480px) {
          font-size: 12px !important;
        }

        height: 28px;
      }

      tr.table-map {
        &:hover {
          background: #f4f5f7;
        }

        .table-trash {
          background-image: url("../img/icon-trash.svg");
          background-size: auto 18px;
          background-repeat: no-repeat;
          background-position: 50%;
        }

        &.active {
          background: #27ae60 !important;
          color: white !important;

          .table-trash {
            background-image: url("../img/icon-trash--white.svg");
          }
        }

        cursor: pointer;
      }

      td {
        border: none;
      }
    }
  }
}

.table-icon {
  width: 50px;
  text-align: center;
}

#mySharedMaps {
  .modal-title {
    margin-left: 0;
  }

  .ModalContent {
    width: 511px;
    height: 320px;
    min-width: 430px !important;

    @media (max-width: 480px) {
      min-width: 100vw !important;
    }

    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      user-select: none;

      th {
        font-size: 14px;
        height: 32px;
        position: sticky;
        top: 0;
        background: white;

        @media (max-width: 480px) {
          font-size: 12px !important;
        }
      }

      tr {
        height: 28px;

        @media (max-width: 480px) {
          font-size: 12px !important;
        }
      }

      tr.table-map {
        &:hover {
          background: #f4f5f7;
        }

        cursor: pointer;
      }

      td {
        border: none;
        vertical-align: baseline;
      }
    }
  }
}

#openMap {
  .modal-title {
    margin-left: 0;
  }

  .modal-content {
    margin-top: 0px;
  }

  .ModalContent {
    width: 511px;
    height: 320px;
    min-width: 511px !important;

    @media (max-width: 480px) {
      min-width: 100vw !important;
    }

    table {
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      user-select: none;

      th {
        font-size: 14px;
        height: 32px;
        position: sticky;
        top: 0;
        background: white;

        @media (max-width: 480px) {
          font-size: 12px !important;
        }
      }

      tr {
        @media (max-width: 480px) {
          font-size: 12px !important;
        }

        height: 28px;
      }

      tr.table-map {
        &:hover {
          background: #f4f5f7;
        }

        .table-trash {
          background-image: url("../img/icon-trash.svg");
          background-size: auto 18px;
          background-repeat: no-repeat;
          background-position: 50%;
        }

        &.active {
          background: #27ae60 !important;
          color: white !important;

          .table-trash {
            background-image: url("../img/icon-trash--white.svg");
          }
        }

        cursor: pointer;
      }

      td {
        border: none;
      }
    }
  }
}

.modal-content-trash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
}

.modal-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modal-option {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.modal-option-icon {
  height: 55px;
  width: auto;
}

.modal-option-divider {
  height: 121px;
  border-left: 1px #707070 solid;
}

.modal-option-text {
  width: auto;
  max-width: 138px;
  text-align: center;
}

.link-text-input {
  background: #e3e3e5 0% 0% no-repeat padding-box;
  font-size: 16px;
  border-radius: 4px;
  color: #78838e;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 4px;
}

.modal-warning {
  font-size: 12px;
  margin: 0px;
}

.download-text {
  text-align: center;
}

.snapshot-icon {
  background-image: url("../img/icon-snapshot.svg");
  background-size: 24px 25px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.map-icon {
  background-image: url("../img/icon-map.svg");
  background-size: 24px 21px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.snapshot-icon-large {
  background-image: url("../img/icon-snapshot.svg");
  height: 50px;
  background-size: 24px 25px;
  background-repeat: no-repeat;
}

.open-map-tab-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.open-map-tab {
  padding: 4px 8px;
  border-radius: 5px;
}

.open-map-tab:hover {
  cursor: pointer;
  background-color: #d2d2d2;
}

.tab-active {
  background-color: #d2d2d2;
}
