html,
body {
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100003;

  .logo {
    background-image: url("../img/logo-green.svg");
    height: 41px;
    width: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 19px;
  }

  @media  screen and (min-width: 1070px ) {
    .logo {
      background-image: url("../img/logo-green-text.svg");
      width: 230px;
    }
  }
}

.navbar-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background-color: #fbfbfb;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 100002;
}

.navbar-middle {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-map-interactions{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left {
  width: 72px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 68px;
  background: white;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 100001;
  transition: transform 300ms ease;

  .nav-left-icon {
    height: 58px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
  }

  .nav-left-icon.active {
    background-color: $primaryColor;
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .icon-separator {
      display: none;
    }
  }

  .close {
    background-color: #eff0f2;
    background-image: url("../img/icon-close-new.svg");
    background-size: 14px;
  }

  .boundaries {
    background-image: url("../img/icon-boundaries.svg");
    background-size: 32px;
  }

  .boundaries.active {
    background-image: url("../img/icon-boundaries--white.svg");
    background-size: 32px;
  }

  .drawing-tools {
    background-image: url("../img/icon-drawing-tools.svg");
    background-size: 32px;
  }

  .drawing-tools.active {
    background-image: url("../img/icon-drawing-tools--white.svg");
  }

  .data-layers {
    background-image: url("../img/icon-data-layers.svg");
    background-size: 32px;
  }

  .data-layers.active {
    background-image: url("../img/icon-data-layers--white.svg");
  }

  .property-search {
    background-image: url("../img/icon-property-search.svg");
    background-size: 32px;
  }

  .info {
    background-image: url("../img/icon-info.svg");
    background-size: 22px;
  }

  .info.active {
    background-image: url("../img/icon-info--white.svg");
  }

  .political-data {
    background-image: url("../img/icon-political-data.svg");
    background-size: 32px;
  }

  .for-sale {
    background-image: url("../img/icon-for-sale.svg");
    background-size: 32px;
  }

  .new-map-icon {
    background-color: #eff0f2;

    &:after {
      transform: rotate(45deg);
      content: " ";
      background-image: url("../img/icon-close-new.svg");
      background-size: 14px;
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .share {
    background-image: url("../img/icon-share.svg");
    background-size: 32px;
    background-color: #eff0f2;
  }

  .share.active {
    background-image: url("../img/icon-share--white.svg");
  }
}

.icon-separator {
  width: calc(100% - 8px);
  left: 4px;
  height: 1px;
  border-bottom: solid 1px white;
  border-top: solid 1px #e5e5e5;
  position: absolute;
  bottom: 0;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.navbar--userlogo {
  background-color: #78838e;
  height: 48px;
  width: 48px;
  margin-right: 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #ffffff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 2px;
  user-select: none;

  @media screen and (max-width: 650px) {
    margin-right: 5px;
  }

}

.navbar-username {
  margin-right: 24px;
  user-select: none;
  @media  screen and (max-width: 900px) {
    display: none;
  }
}

.hamburger {
  background-image: url('../img/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
}

.hamburger-logged-in{
  @media  screen and (max-width: 730px) {
    display: none;
  }
}

.nav-left-tray {
  left: 72px;
  position: fixed;
  width: 250px;
  bottom: 0;
  top: 68px;
  background-color: #f4f5f7;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 100;
  transition: transform 500ms ease;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.nav-left-tray-wide {
  left: 72px;
  position: fixed;
  width: 600px;
  bottom: 0;
  top: 68px;
  background-color: #f4f5f7;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 100000;
  transition: transform 500ms ease;
  //-webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: hidden;
}

.nav-left-tray-community-assets {
  left: 72px;
  position: fixed;
  width: 280px;
  bottom: 0;
  top: 68px;
  background-color: #f4f5f7;
  box-shadow: 3px 0 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 100000;
  transition: transform 500ms ease;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.tray-top {
  width: 100%;
  background-color: #e4e6ea;
  border-bottom: solid 1px #d1d1d1;
}

.tray-title {
  height: 58px;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;

  .title {
    font-weight: bold;
    margin-left: 42px;
  }

  .close-tray {
    position: absolute;
    right: 20px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    background-image: url("../img/icon-close-new.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.draggable {
  cursor: pointer !important;
  user-select: none !important;
}

.nav-tray-section-title {
  min-height: 58px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  user-select: none;
}

.drawing-tool-section {
  min-height: 58px;
  border-bottom: 1px solid #ddd;
}

.drawing-tool-section:hover {
  background-color: $primaryColor;
}

.drawing-tool-section.active {
  background-color: $primaryColor;
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.drawing-tool {
  min-height: 58px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.drawing-tool.active {
  .icon-separator {
    display: none;
  }
}

.tray-item {
  min-height: 58px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  .tray-item-drag {
    width: 42px;
    height: 42px;
    background-image: url("../img/icon-drag.svg");
    background-position: 12px 50%;
    background-repeat: no-repeat;
  }

  .tray-item-title {
    width: 140px;
    padding-left: 48px;
    cursor: pointer;
  }
}

.tray-item-title {
  -webkit-user-select: none;
  user-select: none;
}

.tray-item.active {
  background-color: #77e8ad;
  color: white;

  .tray-item-drag {
    background-image: url("../img/icon-drag--white.svg");
    background-position: 12px 50%;
    background-repeat: no-repeat;
  }
}

.toggle-nav {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 84px;
  left: 12px;
  z-index: 2;
  background-image: url("../img/icon-nav-cog.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #7d808d;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 22px;
    color: white;
  }
}

.tray-item {
  border-bottom: 1px solid #ddd;
}

.tray-title-section {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  background-color: white;
}

.draggable-container {
  position: relative;
  width: 100%;
}

.draggable-item {
  position: absolute;
  width: 100%;
  height: 58px;
  background-color: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;

  .tray-item-drag {
    width: 42px;
    height: 42px;
    background-image: url("../img/icon-drag.svg");
    background-position: 12px 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 0;
  }

  .tray-item-title {
    width: 140px;
  }

  transform-origin: 50% 50% 0px;
  color: rgb(153, 153, 153);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.link {
  position: absolute;
  color: rgb(76, 76, 76);
  text-decoration: none;
  font: 14px/1em "Helvetica";

  top: 0;
  left: 0;
}

.grid-of-listings {
  height: 95%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 25px;
  padding: 15px;
  margin: 10px;
  overflow-x: hidden;
}

.listing {
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
}

.listing-image {
  width: 240px;
  height: 240px;
}

a.mapboxgl-ctrl-logo {
  display: none !important;
}

.marker-section {
  background-image: url("../img/icon-drop-pin.svg");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 20px 50%;
}

.polygon-section {
  background-image: url("../img/icon-polygon.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 18px 50%;
}

.polygon-section-line {
  background-image: url("../img/icon-line.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 18px 50%;
}

.property-section {
  background-image: url("../img/icon-property-search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 18px 50%;
}

.horizontal-divider {
  width: 100%;
  border: 1px solid;
  display: block;
}

.land-data-description {
  margin-top: 0;
  margin-left: 15px;
}

.map-menu-container{
  width: 180px;
  margin-right: -160px;
}

.map-menu{
  box-shadow: 0px 3px 6px #00000029;
  background-color: white;
  margin: 0px;
}

.map-menu-option {
  padding: 8px;
  margin: 2px 0px;
}

.map-menu-option-disabled {
  padding: 8px;
  margin: 2px 0px;
  cursor: default;
  color: #c4cbd3;
}

.map-menu-option:hover {
  background-color: #D2D2D2;
  cursor: pointer;
}

.map-title-bar{
  width: 265px;
  transition: width .25s, min-width .25s;
  @media screen and (max-width: 550px){
    width: 45vw;
  }
}

.map-name-text{
  cursor: pointer;
  font-size: 17px;
  margin: 4% 5% 0%;
  padding: 0.5% 2%;
  border-radius: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Don't show line breaks in map name since these are not saved
.map-name-text *{
  display: inline;
}

.map-name-text br{
  display: none;
}

.map-name-text:hover{
  background-color: #F3F3F3;
}

.map-name-text.editable{
  cursor: text;
  text-overflow:unset;
}

.map-saving-text{
  cursor: pointer;
  font-size: 14px;
  height: 17px;
  margin: 0% 5%;
  padding: 0% 2%;
  color: #d0024e;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.map-saving-text.saved{
  color: #2ecc71;
}


.nav-collapsed{
  @media screen and (max-width: 665px){
    width: 20vw;
  }
}