.pagination {
  list-style: none;
  display: flex;
}

.page-item {
  border: 0px solid $primaryColor;
  display: block;
  &.prev {
    border-radius: 5px 0 0 5px;
  }
  &.next {
    border-radius: 0 5px 5px 0;
  }
}

.page-link {
  margin: 0;
  padding: 5px 10px;
  border: none;
  color: $primaryColor;
  background-color: transparent;
  cursor: pointer;
  &.active {
    background-color: $primaryColor;
    color: #fff;
    box-shadow: none;
  }
}

.button-style:focus {
  outline: none;
}
