.pill-badge {
  height: 28px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blueAccent;
  border-radius: 50rem;
  //   padding: 10px 15px;
  font-size: 12px;
  color: #fff;
}

.pill-badge__title {
  margin: 0 10px;
}

.pill-badge__icon {
  flex: 0 0 15px;
  margin-left: 10px;
  cursor: pointer;
  & svg {
    fill: #fff;
    height: 15px;
  }
}

.pill-badge__remove {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding-right: 10px;
  cursor: pointer;
  & svg {
    fill: #fff;
    height: 10px;
  }
}
