.property-id-number {
  cursor: pointer;
  margin: 0;
}

.highlighted {
  color: red;
}

.property-details {
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.property-details-title {
  font-size: 24px;
  color: $primaryColor;
  margin-bottom: 20px;
}

.property-details-section {
  box-sizing: border-box;
  border-top: 2px solid $midNeutral2;
  padding: 20px 0;
  font-size: 18px;
}

.property-details-section__inner {
  box-sizing: border-box;
}

.property-details-section__title {
  font-size: 18px;
  color: $primaryColor;
  margin: 0;
}

.property-details-section__value,
.property-details-section__small-print {
  color: $darkNeutral;
}

.property-details-section__small-print {
  font-size: 14px;
}

/* Desktop specific, as mobile first */
@media screen and (min-width: 769px) {
  .property-details-section__inner {
    display: flex;

    & > div {
      width: 50%;
    }
  }
}
