.property-section-header {
  margin: 20px 0 25px 48px;
  width: 68%;
}

.property-section-header__address {
  // margin-left: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
  line-height: 1.25em;
}

.property-section-header__title-no,
.property-section-header__remove {
  font-size: 14px;
  margin-top: 4px;
}

.property-section-header__title-no {
  color: $secondaryColor;
}

.property-section-header__remove {
  color: $blueAccent;
  text-decoration: underline;
}

.property-section-header__chevron {
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  top: 18px;
  right: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.property-id-number {
  cursor: pointer;
  margin: 0;
}

.highlighted {
  color: red;
}

.property-details {
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.property-details-title {
  font-size: 20px;
  color: $primaryColor;
  margin-bottom: 20px;
}

.property-details-section {
  box-sizing: border-box;
  border-top: 1px solid $midNeutral2;
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.25em;
}

.property-details-section__inner {
  box-sizing: border-box;
}

.property-details-section__title {
  color: $primaryColor;
  margin-bottom: 5px;
}

.property-details-section__value,
.property-details-section__small-print {
  color: $darkNeutral;
}

.property-details-section__small-print {
  font-size: 14px;
}

.small-print-margin {
  margin: 0px 15px;
}

.property__clear-property {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

/* Desktop specific, as mobile first */
@media screen and (min-width: 769px) {
  .property-section-header {
    width: 75%;
  }
  .property-details-section__inner {
    display: flex;

    & > div {
      width: 50%;
    }
  }
}
