.property-section-header {
  margin: 20px 0 25px 48px;
  width: 68%;
}

.property-section-header__address {
  // margin-left: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
  line-height: 1.25em;
}

.property-section-header__title-no,
.property-section-header__remove {
  font-size: 14px;
  margin-top: 4px;
}

.property-section-header__title-no {
  color: $secondaryColor;
}

.property-section-header__remove {
  color: $blueAccent;
  text-decoration: underline;
}

.property-section-header__chevron {
  position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  top: 18px;
  right: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
}

.property-id-number {
  cursor: pointer;
  margin: 0;
}

.highlighted {
  color: red;
}

.property-details {
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.property-details h4 {
  color: $blueAccent;
  font-size: 18px;
  margin: 0;
}

.property-details-title {
  font-size: 20px;
  color: $primaryColor;
  margin-bottom: 20px;
}

// change property-details-section to property-details-info
// repurpose property-details-section for overview and ownership sections
.property-details-info {
  box-sizing: border-box;
  // border-top: 1px solid $midNeutral2;
  // padding: 20px 0;
  font-size: 16px;
  line-height: 1.25em;
  // margin-bottom: 10px;
}

.property-details-info__inner {
  box-sizing: border-box;
}

.property-details-info__title {
  color: $primaryColor;
  margin-bottom: 5px;
}

.property-details-info__value,
.property-details-info__small-print {
  color: $darkNeutral;
}

.property-details-info__button {
  margin-top: 10px;
}

.property-details-info__small-print {
  font-size: 14px;
}

.small-print-margin {
  margin: 0px 15px;
}

.property__clear-property {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.ownership-overview {
  margin-bottom: 25px;
}

.ownership-overview, .proprietor-card  {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ownership-overview__title {
  margin-bottom: 0;
  color: $darkNeutral;
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.ownership-overview__icon {
  display: block;
  width: 20px;
  height: 18px;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M543.8 287.6c17 0 32-14 32-32.1 1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32h-32c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24 0 18 14 32.1 32 32.1h32V448c0 35.3 28.7 64 64 64h320.4c35.5 0 64.2-28.8 64-64.3l-.7-160.2h32zM288 160a64 64 0 1 1 0 128 64 64 0 1 1 0-128zM176 400c0-44.2 35.8-80 80-80h64c44.2 0 80 35.8 80 80 0 8.8-7.2 16-16 16H192c-8.8 0-16-7.2-16-16z" fill="%23707070" /></svg>');
}

.proprietor-card {
  margin-bottom: 35px;
}

/* Desktop specific, as mobile first */
@media screen and (min-width: 769px) {
  .property-section-header {
    width: 75%;
  }
  .property-details-info__inner {
    display: flex;

    & > div {
      width: 50%;
    }
  }
}
