.registration {
  left: 30%;
  width: 40%;
  top: 6rem;
  position: relative;
  padding: 1rem;
}

.title{
  margin-top: 0;
}

.account-type-container{
display: flex;
justify-content: space-evenly;
margin-bottom: 0.5rem;
padding: 1rem 0rem;
}

.account-type-card{
  color: white;
background-color: #27ae60;
border-radius: 5%;
padding: 0.5rem 5rem 1rem 1rem;
text-align: left;
max-width: 20%;
}

.account-type-card:hover{
  cursor: pointer;
}

.active{
  box-shadow: black 0px 0px 5px;
}

.inactive{
  opacity: 0.75;
}

.account-type-title{
  margin-top: 0;
}

.account-type-text{
  margin-top: 0;
  margin-bottom: 0;
}