.tooltip {
  width: auto;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #ffffff !important;
  border: solid 1px #d1d1d1 !important;
  position: absolute;
  left: 0;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 12px !important;
  color: #78838e !important;
  z-index: 100000 !important;
}

.tooltip-stay {
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

#ttProfile {
  padding: 0 !important;
  pointer-events: auto !important;
  opacity: 1 !important;
}

#ttMenu {
  padding: 0 !important;
  pointer-events: auto !important;
  opacity: 1 !important;
}

#ttMenu.__react_component_tooltip.place-bottom:after {
  left: 70% !important;
}

.tooltip-menu {
  padding: 0 !important;
  position: fixed;
  top: 85px;
  right: 10px;
  border-radius: 6px;
  z-index: 1001;
  background: white;

  a {
    text-decoration: none;
    color: inherit;
  }

  .tooltip-menu-item {
    width: 100%;
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    align-items: center;
    font-style: normal;
    height: 55px;
    box-sizing: border-box;
    user-select: none;
    text-align: left;
    transition: background 300ms;

    &:hover {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }

  .tooltip-menu-item.no-hover {
    background: none !important;
  }

  z-index: 10000;
  cursor: pointer !important;

  &:before {
    content: " ";
    position: absolute;
    top: -13px;
    left: 66.5%;
    transform: translateX(0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #d2d2d2 transparent;
    z-index: 99999;
  }

  &:after {
    content: " ";
    position: absolute;
    top: -12px;
    left: 67%;
    transform: translateX(0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent white transparent;
    z-index: 99999;
  }
}

.tooltip-static-site-menu {
  z-index: 100001 !important;
}

.tooltip-menu-layers {
  top: auto;
  bottom: 80px;
  right: 76px;
  z-index: 1;

  &:before {
    top: auto;
    bottom: -12px;
    left: 83%;
    transform: translateX(-50%) rotate(180deg);
  }

  &:after {
    top: auto;
    bottom: -11px;
    left: 83%;
    transform: translateX(-50%) rotate(180deg);
  }
}

h3 {
  font-size: 16px;

  color: #78838e;
  margin: 0;
  user-select: none;
}

// Layer key tooltip

.tooltip-menu-key__container {
  width: 100%;
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  transition: transform 0.3s ease-in-out;
  z-index: 100005;
  pointer-events: none;

  &.collapsed {
    transform: translateX(calc(100% - 45px)); // 45px is the width of the tab
  }

  @media screen and (min-width: $medium) {
    width: auto;
    top: 90px;
    right: 0;
    bottom: auto;
  }
}

.tooltip-menu-key {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 0px 8px !important;
  border: none !important;
  padding: 0 !important;
  cursor: default !important;
  background-color: #fff;
  box-shadow: none !important;
  pointer-events: auto;

  @media screen and (min-width: $medium) {
    width: auto;
    height: auto;
    top: 90px;
    bottom: auto;
    right: 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) !important;
  }
}

.tooltip-menu-key__tab,
.tooltip-menu-key__header {
  height: 50px;
  background-color: $lightNeutral;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.tooltip-menu-key__tab {
  width: 45px;
  display: flex;
  flex-direction: column;
  border: none;
  cursor: pointer;
  justify-content: center;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  pointer-events: auto;

  svg {
    height: 16px;
    fill: $darkNeutral;
  }

  &.collapsed svg {
    transform: rotate(180deg);
  }
}

.tooltip-menu-key__header {
  display: flex;
  align-items: center;
  padding: 17px 20px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    height: 18px;
    line-height: 18px;
  }
  .tooltip-menu-key__icon {
    width: 18px;
    height: 17px;
    margin-right: 6px;
  }

  @media screen and (min-width: $medium) {
    .tooltip-menu-key__icon {
      width: 15px;
      height: 15px;
    }
    h3 {
      font-size: 16px;
      height: 16px;
      line-height: 16px;
    }
  }
}

.tooltip-menu-key__icon {
  width: 24px;
  height: 21px;
  display: block;
  background-size: auto auto;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M264.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0l-218.6-101c-8.5-4-13.9-12.5-13.9-21.8s5.4-17.9 13.9-21.8l218.6-101zm212.4 204.4 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0l-218.6-101c-8.5-4-13.9-12.5-13.9-21.8s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2a88.1 88.1 0 0 0 73.8 0l152-70.2zm-152 198.2 152-70.2 53.2 24.6c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0l-218.6-101c-8.5-4-13.9-12.5-13.9-21.8s5.4-17.9 13.9-21.8l53.2-24.6 152 70.2a88.1 88.1 0 0 0 73.8 0z' fill='%2378838f' /%3E%3C/svg%3E");
  fill: #78838f !important;

  @media screen and (min-width: $medium) {
    width: 15px;
    height: 15px;
  }
}

.tooltip-menu-key__close {
  height: 25px;
  width: 25px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .background {
    width: 20px;
    height: 20px;
    background-color: fuchsia;
    border-radius: 50%;
  }
}

.tooltip-menu-key-content {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  padding: 0;
  margin: 10px 5px 10px 20px;

  @media screen and (min-width: $medium) {
    height: 215px;
    width: 225px;
    padding: 0;
    box-sizing: border-box;
  }
}

.tooltip-menu-profile {
  top: 85px;
  right: 21px;

  &:after {
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: 650px) {
    &:after {
      left: 94%;
      transform: translateX(-56%);
    }

    &:before {
      left: 94%;
      transform: translateX(-56%);
    }
  }
}

.mapboxgl-popup-tip {
  opacity: 0;
}

.drawing-popup {
  z-index: 1000000;

  &:before {
    content: " ";
    position: absolute;
    top: auto;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #d2d2d2 transparent;
    z-index: 99999;
  }

  &:after {
    content: " ";
    position: absolute;
    top: auto;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent white transparent;
    z-index: 99999;
  }
}

.datagroup-popup {
  z-index: 1000000;

  &:before {
    content: " ";
    position: absolute;
    top: auto;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 13px 13px;
    border-color: transparent transparent #d2d2d2 transparent;
    z-index: 99999;
  }

  &:after {
    content: " ";
    position: absolute;
    top: auto;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent white transparent;
    z-index: 99999;
  }
}

.marker-name {
  overflow-wrap: anywhere;
}

.drawing-popup-content {
  height: 80px;
  width: 180px;
  display: flex;
  justify-content: center;

  h2 {
    margin-top: 12px;
    user-select: none;
  }

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid red;
  }

  .popup-buttons {
    position: absolute;
    bottom: 12px;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    .left {
      margin-left: 24px;
      cursor: pointer;
      user-select: none;
    }

    .right {
      margin-right: 24px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.popup-close {
  @include button-scaffold();
  height: 25px;
  width: 25px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-image: url("../img/icon-close.svg");
  background-size: cover;
}

canvas {
  cursor: pointer !important;
}

@media screen and (max-width: $small) {
  .popup-close {
    height: 20px;
    width: 20px;
    top: 8px;
    right: 8px;
  }
}
