.user-guide-prompt-modal {
  display: flex;
  flex-direction: column; 
  gap: 16px;  
}

.ModalContent {
  &.user-guide-prompt-modal__container {  
    display:flex;
    width: 550px;
    height: auto;
    border-radius: 8px;
    padding: 30px;    
  }
}

.user-guide-prompt-modal__title {
  font-size: 32px;
  font-weight: 400;
  color: $primaryColor;
  margin: 0;
}

.user-guide-prompt-modal__copy {
  font-size: 16px;
  line-height: 1.6;
  color: $secondaryColor;  
  margin: 0;
}

.user-guide-prompt-modal__link {
  color: $primaryColor;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.user-guide-prompt-modal__image-container {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.user-guide-prompt-modal__image {  
  width: 65%;
  height: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid $midNeutral2;
}

.user-guide-prompt-modal__actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media screen and (max-width: $medium) {
  .ModalContent {
    &.user-guide-prompt-modal__container {
      width: 90vw;
    }
  }

  .user-guide-prompt-modal__actions {
    flex-direction: column;
    align-items: center;
  }
}
