$text-color: #333333;
$primary-color: #2ecc71;
$highlight-color: #e74c3c;
$bg-color: #ffffff;

.UploadButton 
{
  border-radius: 200px;
  background: #b3ad98;
  border-radius: 200px;

  border: none;
  width: 84px;
  height: 20px;
  color:white;
}

.nodal {
  background: #fff;
  position: fixed;
  z-index: -1;
  color: #75848f;
  padding: 10px 17px 15px;
  margin-bottom: 1px;
  pointer-events: auto;
  font: 12px/20px 'Lato Regular', Arial, Helvetica, sans-serif;
  bottom: 53px;
  left: -160px;
  width: 368px;
  transform: rotate(-360deg);
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
}

.Closebtn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  cursor: pointer;
  right: 12px;
  z-index: 5;
}

.DeleteCommunityAsset {
  border: none;
  background: inherit;
}

.EditIcon {
  border: none;
  background: inherit;
}

.EditIcon:hover {
  background-color: $primary-color;
}

.DeleteCommunityAsset:hover {
  background-color: $primary-color;
}

// #Yes
// {
//   background: lightgreen;
//   color:white;
//   border-radius: 12px;
//   border: none;
//   margin-right: 12px;
// }

// #No
// {
//   background:#f9060e;
//   color: white;
//   border-radius: 12px;
//   border: none;
//   margin-right: 12px;
// }

// .nodal_title {
//   font-size: 1.4rem;
//   font-family: 'Slabo 27px', serif;
//   font-weight: 100;
//   margin: 0;
//   padding: 0 0 15px 0;
//   border-bottom: 2px solid $text-color;
// }

// .nodal_body {
//   padding: 10px 0 0px 0;
// }

// .nodal_body_content {
//   font-size: 1.2rem;
//   font-family: 'Slabo 27px', serif;
//   font-weight: 100;
//   margin: 0;
//   padding: 5px 0 5px 0;
// }

.nodal_close {
  font-size: 1.4rem;
  line-height: 1.4rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 5px 15px 15px 15px;
  transition: color 150ms ease;
  &:hover {
    color: $highlight-color;
  }
}

// .dialog__trigger, .nodal_action {
//   border: 1.5px solid $text-color;
//   // background: $bg-color;
//   padding: 10px 15px;
//   font-size: 1.1rem;
//   text-transform: uppercase;
//   display: block;
//   transition: all 150ms ease-out;
//   transform: translateY(0px);
//   &:hover, &:focus {
//     outline: 0;
//     transform: translateY(-5px);
//     transition: all 100ms ease-in;
//     box-shadow: 0 5px 10px rgba($text-color,0.4);
//   }
//   &:active {
//     transform: translateY(-3px);
//   }
// }

.MoreInfo {
  margin: 0;
  font-size: 0.7rem;
  border-radius: 18px;
  border: none;

  background: $primary-color;
  color: white;

  &:hover,
  &:focus {
    outline: 0;
    transform: translateY(-5px);
    transition: all 100ms ease-in;
  }

  &:active {
    transform: translateY(-3px);
  }
}

.SpeechBubble {
  border-width: 15px 15px 0px 15px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  bottom: -15px;
  position: absolute;
  right: 210px;
}
