



    .Popup 
    {
        position: absolute;
        background: #fff;
        z-index: -1;
        color: black;
        float: left;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        padding: 10px 10px 15px;
        pointer-events: auto;
        border: .75rem solid transparent;
        border-width: 8px 8px 0px 8px;
        bottom: 3px;
        left: 8px;
        
      }
 
.fa-map-marker:before 
{
    position: absolute;
    font-size:26px; 

}