@import "variables";
@import "typography";
@import "buttons";
@import "tooltips";
@import "modals";
@import "top-bar";
@import "left-pane";
@import "forms";
@import "select";
@import "registration";
@import "my-account";
@import "properties";
@import "datalayers";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
}

body {
  font-size: 16px;
  overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato;
  font-weight: 400;
  color: $secondaryColor;
}

.bold {
  font-weight: 700;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#map-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(79, 90, 109, 0.65);
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.new-marker {
  height: 30px;
  width: 30px;
  background: white;
  border: 1px solid black;
  background-image: url("../img/icon-drawing-tools.svg");
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
}

.mapboxgl-map {
  background-color: transparent;
}

.os-accreditation {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  color: black;
  font-size: 6pt;
  padding-left: 3px;
  padding-right: 3px;
}

.map-click-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.centered {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  text-align: center;
}

.full-height {
  min-height: 100vh;
}

.overflow-y {
  overflow-y: scroll;
}

.getting-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  z-index: 100000;
  color: red;
}

.trash-tool {
  background-image: url("../img/icon-trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  width: 72px;
  display: inline-block;
}

.loading-circle {
  z-index: 3;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  animation: alternate infinite 1s gradient-change;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes gradient-change {
  0% {
    background-color: rgba(39, 174, 96, 0.5);
  }

  100% {
    background-color: rgba(39, 174, 96, 0);
  }
}

.loading-text {
  z-index: 3;
  color: white;
  opacity: 1;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {

  0%,
  100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {

  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.pointer {
  cursor: pointer;
}

.marker-icon {
  background-image: url("../img/icon-marker-new--dark-grey.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.marker-icon-active {
  background-image: url("../img/icon-marker-new--green.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.marker-icon-aerial {
  background-image: url("../img/icon-marker-new--white.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.marker-icon-green {
  background-image: url("../img/icon-marker-data-green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

.marker-shadow {
  background-image: url("../img/markers-shadow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 13px;
  left: -10px;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.toast {
  z-index: 99999;
  position: fixed;
  width: 300px;
  top: 100px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
  background-color: #4d4d4d;
  color: #ffffff;
}
